<div class="login-wrapper row col-sm-6">
    <form class="form">
        <div class="login-text text-center">Welcome to InvManager</div>
        <div class="col-sm-12 name-field">
            <input class="form-control" type="text" placeholder="Name">
        </div>
        <div class="col-sm-12 pass-field">
            <input class="form-control" type="password" placeholder="Password">
        </div>
        <div class="col-sm-12 pass-field">
            <button type="button" class="btn form-control login-btn">Log In</button>
        </div>
        <div class="sign-up-label text-center"><a>Create an account here</a></div>
    </form>
</div>